<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <% for (const message of messages) { %>
            <ul>
                <li><%= message.text %></li>
                <li> - <%= message.user %></li>
                <li><%= message.added.toLocaleString() %></li>
            </ul>
        <% } %>

        <h2><a href="/new">New Post</a></h2>
    </body>
</html>